<html>
  <head>
    <%= if PUSH_ENABLE then render :partial => "juggernaut_head" end %>
  </head>
  <body>
  <%= @content.rawhtml %>
  <%= if PUSH_ENABLE then render :partial => "juggernaut_body" end %>
  </body>
</html>
